@import bourbon
@import vars

html
	font-size: 16px

body
	color: $body-text-color
	font-size: rem(16px)
	line-height: 1.5
	padding: 0
	margin: 0
	font-family: $main-font-family
	font-style: normal

a
	color: $base-link-color
	background-color: transparent
	text-decoration: none
	outline: 0
	&:hover
		text-decoration: none