@import bourbon


$main-font-family: 'PT Sans', sans-serif
$body-text-color: #757575

$main-color: #2196f3
$accent-color: #b39ddb

$base-link-color: #fff

$title-color: #212121

$online: #3fc148



=mt($time)
	transition: all $time ease