// @import reset
@import bourbon
@import base
@import buttons
@import vars
@import header


.responsive-img
	max-width: 100%
	height:

.text-center
	text-align: center

.text-right
	text-align: right

.text-left
	text-align: left









//ALWAYS END
@import media
