@import 'bourbon'
@import 'helpers/variables'

.responsive-img
	display: block
	max-width: 100%
	height: auto

.image-circle
	border-radius: 50%

.text-center
	text-align: center

.text-right
	text-align: right

.text-left
	text-align: left

.section
	position: relative
	width: 100%

.fl_l
	float: left

.no-pad
	padding: 0