@import 'bourbon'
@import 'helpers/variables'

.responsive-img
	display: block
	max-width: 100%
	height: auto

.image-circle
	border-radius: 50%

.text-center
	text-align: center

.text-left
	text-align: left

.text-right
	text-align: right

.section
	position: relative
	width: 100%

.fl_l
	float: left

.fl_r
	float: right

.no-pad
	padding: 0

.no-pad-l
	padding-left: 0

.no-pad-r
	padding-right: 0

.hidden
	display: none

.hidden-no
	display: block

.is-online
	color: $online

.is-offline
	color: $offline

.object-fit-cover
	object-fit: cover