@import 'bourbon'

/**
 * 1. Стандартный шрифт сайта PT Sans
 */

$PT-Sans: 'PT Sans', sans-serif
$main-font-family: $PT-Sans

/**
 * 2. Цвета Сайта
 */

$blue-color: #2196f3
$purple-color: #604895
$green-color: #3fc148
$grey: #212121

$main-color: $blue-color
$accent-color: $purple-color
$body-text-color: $grey

/**
 * 3 - Цвета меню
 */
$menu-link-color: #7291aa
$menu-link-color-active: $accent-color

$base-link-color: $main-color

$online: $green-color



=mt($time)
	transition: all $time ease