@import 'bourbon'
@import 'helpers/variables'

.body-girls-profile
	background: #fafafa

.page-girls-profile
	.profile-header
		background: $main-color
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.41)

.logo
	padding: 15px 0
	text-align: center

.profile-navigation
	padding: 15px 0
	.nav-item
		display: inline-block
		margin-right: 30px
		&:last-child
			margin-right: 0
		a
			font-size: rem(11.77px)
			color: #fff
			text-transform: uppercase

.login-wrapper
	position: relative
	width: 100%
	margin-top: 5px

	.data
		margin-right: 0
		float: left

	.login-data
		position: relative
		+size(190px 50px)
		float: left
		text-align: center
		font-size: rem(14px)

		.login-name
			width: 140px
			height: 25px
			float: left
			background: #fff
			font-size: 14px
			line-height: 25px
			color: $grey
			text-align: center
			position: relative
			left: 25px
			border-radius: 25px
			&:before
				+position(absolute, 6px 0 0 8px)
				content: ''
				+size(13px)
				background: $online
				border-radius: 50%

		.login-avatar
			position: relative
			top: -20px
			+size(50px)
			float: left
			img
				+size(50px)
				border: 3px solid #fff

.search
	margin-bottom: 10px

.search-wrapper
	padding: 7px 15px
	background: #81c0f5
	&:before
		content: ''
		+position(absolute, 0 0 0 -29px)
		+triangle(44px, #81c0f5, up-right)
	&:after
		content: ''
		+position(absolute, 0 -29px 0 null)
		+triangle(44px, $accent-color, up-left)

.profile-wrapper
	margin-bottom: 25px

.sidebar-wrapper

	.sidebar-title
		height: 32px
		background: $main-color
		color: #fff
		font-size: rem(16)
		line-height: rem(32px)
		text-transform: uppercase
		text-align: center
		margin-bottom: 7px

	.sidebar-menu
		background: #fff
		box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.22)
		padding: 20px 10px
		font-size: rem(14)
		line-height: rem(30px)
		text-transform: capitalize
		a
			color: #6e6e6e

		.left-fixer
			display: block
			&:hover
				background: rgba(33,150,243,0.05)

			.left-icon
				+size(30px 25px)
				background:
					image: url('../img/sprites/icons.png')
					repeat: no-repeat
					position: 7px 7px

			.right-count
				color: $main-color
				font-weight: 700

#profile-sidebar
	.left-label
		overflow: hidden
		text-overflow: ellipsis
	#l-ms
		.left-icon
			background-position: 7px 8px
	#l-ch
		.left-icon
			background-position: 7px -19px
	#l-cnn
		.left-icon
			background-position: 7px -50px
	#l-vie
		.left-icon
			background-position: 7px -76px
	#l-lik
		.left-icon
			background-position: 7px -102px
	#l-fav
		.left-icon
			background-position: 7px -135px
	#l-cnt
		.left-icon
			background-position: 7px -195px
	#l-blk
		.left-icon
			background-position: 7px -165px
	#l-pm
		.left-icon
			background-position: 7px -225px

.breadcrumbs-section
	margin-bottom: 7px

.go-back
	height: 32px
	background: #fff
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.22)
	font-size: rem(14)
	line-height: rem(32px)
	color: $main-color
	text-align: center
	padding: 7px 40px

.breadcrumbs
	display: block
	height: 32px
	background: #ffffff
	line-height: rem(32px)
	padding: 0 25px
	box-shadow: 0 0 1px 0 rgba(0,0,0,.22)
	overflow: hidden
	li
		margin: 0
		padding: 0 16px 0 0
		float: left
		&:before
			content: "/"
			color: #949494
		&:first-child
			&:before
				content: ''
		span
			color: #949494
			padding-left: 16px

.profile-avatar
	position: relative
	background: #fff
	padding: 15px
	box-shadow: 0 0 1px 0 rgba(0,0,0,.22)

	.object-fit-cover
		width: 100%
		height: 435px
		object-position: 75%

	.profile-avatar-buttons
		width: 120px
		+position(absolute, null null 15px 15px)
		background: rgba(255,255,255,0.70)
		border-top-left-radius: 5px
		border-top-right-radius: 10px

		.left-icon
			+size(40px 40px)
			background:
				image: url('../img/sprites/icons.png')
				repeat: no-repeat
				position: 10px 8px
			&:hover
				background-color: #fff

		#l-bld
			.left-icon
				background-position: 10px -340px

		#l-str
			.left-icon
				background-position: 10px -370px

		#l-hrt
			.left-icon
				background-position: 10px -400px

.profile-video
	background: #fff
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.22)
	padding: 15px

.profile-functions
	text-align: center

	.function-item
		padding-bottom: 8px
		a
			display: block
			+size(50px)
			line-height: rem(50px)
			border-radius: 50%
			background:
				color: $main-color

.profile-data
	background: #fff
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.22)
	padding: 20px 30px

	.profile-data-name
		font-size: rem(30)
		line-height: rem(30px)
		color: #4c4c4c
		margin-bottom: 20px

		.is-online
			font-size: rem(18)

		.is-ofline
			font-size: rem(18)

	.profile-data-location
		color: #4c4c4c
		font-size: rem(14)
		line-height: rem(30px)
		margin-bottom: 20px

		.left-icon
			+size(44px 25px)
			background:
				image: url('../img/sprites/icons.png')
				repeat: no-repeat
				position: 0px 8px

		#l-ky
			.left-icon
				background-position: 0 -255px

		#l-bih
			.left-icon
				background-position: 0 -285px

		#l-sgl
			.left-icon
				background-position: 0 -315px


	.personal-data
		padding: 30px 0
		border-top: 1px solid #dadada
		font-size: rem(14)
		line-height: rem(14px)

		.personal-info
			padding-top: 13px
			color: #949494

			.label
				width: 165px
				float: left

			.labeled
				color: #4c4c4c
				overflow: hidden