@import 'bourbon'
@import 'helpers/variables'

.body-girls-profile
	background: #fafafa

.page-girls-profile
	.profile-header
		background: $main-color
		box-shadow: $profile-header-shadow

.logo
	padding: 15px 0
	text-align: center

.profile-navigation
	padding: 15px 0

	.nav-item
		display: inline-block
		margin-right: 30px
		&:last-child
			margin-right: 0
		a
			font-size: rem(11.77px)
			color: #fff
			text-transform: uppercase

.profile-wrapper
	margin-bottom: 25px

.breadcrumbs-section
	margin-bottom: 7px

.profile
	.row
		>
			.col-lg-7
				padding-left: 0














