@import 'bourbon'
@import 'helpers/variables'

.price-image-section
	position: relative
	height: 330px
	background:
		image: url('../img/hero/hero-ladies.jpg')
		size: cover
		repeat: no-repeat
		position: center -115px

.price-image-title
	padding-top: 200px
	text-align: center
	h1
		background: rgba(255,255,255,0.70)
		margin: 0
		padding: 35px 0 65px

.purchasing-section
	padding-top: 65px

.purchasing-title
	display: block
	text-align: center
	margin-bottom: 50px
	font-size: rem(24)
	line-height: rem(30px)
	color: #757575

.accordion-section
	margin-top: 95px

