@import 'bourbon'
@import 'helpers/variables'

.breadcrumbs
	display: block
	height: 32px
	background: #ffffff
	line-height: rem(32px)
	padding: 0 25px
	box-shadow: $block-shadow
	overflow: hidden
	li
		margin: 0
		padding: 0 16px 0 0
		float: left
		&:before
			content: "/"
			color: $lightengrey
		&:first-child
			&:before
				content: ''
		span
			color: $lightengrey
			padding-left: 16px