@import 'bourbon'
@import 'helpers/variables'

.profile-data-edit
	@extend .profile-data
	padding: 40px 0

.profile-data-edit-wrapper
	padding: 0 95px

.pd-edit-title
	font-size: rem(24)
	line-height: rem(30px)
	color: #757575
	text-align: center
	text-transform: uppercase
	margin-bottom: 35px


.profile-main-avatar
	height: 335px
	background:
		repeat: no-repeat
		size: cover
		position: 75% center

.profile-photos-list
	.photos-row
		display: inline-block
		vertical-align: top
		margin: 0 0 5px 0

.pp-container-photos
	.photos-row
		transform: translate(0px)
		background:
			size: cover
			color: #fff
			repeat: no-repeat
			position: center 25%
		display: inline-block
		a
			display: block
			+size(100%)

.file-wrap
	position: relative
	+size(90px 80px)
	background:
		image: url('../img/add-image.jpg')
		size: cover
		repeat: no-repeat
		position: center
	overflow: hidden
	text-align: center
	cursor: pointer

	.ep-input
		+position(absolute, 0 0 null null)
		font-size: 118px
		margin: 0px
		padding: 40px
		cursor: pointer
		opacity: 0


.accordion-edit-details
	padding: 30px 0



