@import 'bourbon'
@import 'helpers/variables'

.profile-functions
	text-align: center
	padding-top: 15px

	.function-item
		padding-bottom: 8px
		a
			display: block
			+size(50px)
			line-height: rem(50px)
			border-radius: 50%
			background:
				color: $main-color